# ---------------------------------------------------------------------------------------------
# General
# ---------------------------------------------------------------------------------------------

TZ=Europe/Samara


# ---------------------------------------------------------------------------------------------
# PostgreSQL
# ---------------------------------------------------------------------------------------------

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Port on the host.
# PostgreSQL inside the container remains on 5432
POSTGRES_HOST_PORT=5433


# ---------------------------------------------------------------------------------------------
# Airflow
# ---------------------------------------------------------------------------------------------

AIRFLOW_UID=1000

AIRFLOW_SECRET_KEY=<your airflow secret key>
AIRFLOW_JWT_SECRET_KEY=<your airflow secret key>
AIRFLOW_FERNET_KEY=<your airflow fernet key>
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin

AIRFLOW_PORT=8080


# ---------------------------------------------------------------------------------------------
# MinIO
# ---------------------------------------------------------------------------------------------

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

