# ---------------------------------------------------------------------------------------------
# General
# ---------------------------------------------------------------------------------------------

TZ=Europe/Samara


# ---------------------------------------------------------------------------------------------
# PostgreSQL
# ---------------------------------------------------------------------------------------------

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=financial

# Port on the host.
# PostgreSQL inside the container remains on 5432
POSTGRES_HOST_PORT=5433


# ---------------------------------------------------------------------------------------------
# Airflow
# ---------------------------------------------------------------------------------------------

AIRFLOW_UID=

AIRFLOW_SECRET_KEY=d1f00bd9cb5d27c20c020676b5ca5a7be4321cac1cb43b6ca5dcaef3f4ddcfa2f6c774c358f54e5460c438f5b1322b64eef09b9943bc4fe04bc046ef5983d992
AIRFLOW_JWT_SECRET_KEY=d1f00bd9cb5d27c20c020676b5ca5a7be4321cac1cb43b6ca5dcaef3f4ddcfa2f6c774c358f54e5460c438f5b1322b64eef09b9943bc4fe04bc046ef5983d992
AIRFLOW_FERNET_KEY=HW5rPGPCgbzgSImM9EBrWELw_rWNsyocqTPG55PzaIc=
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin

AIRFLOW_PORT=8080


# ---------------------------------------------------------------------------------------------
# MinIO
# ---------------------------------------------------------------------------------------------

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

